html,
body {
  background: url("../images/citrus-background.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
  min-height: 1500px;
}

p {
  font-size: 18px;
}
.btn {
  padding: 3px;
  font-size: 20px;
  border-radius: 2px;
  min-width: 100px;
  color: #F9D5AC;
  background-color: #382718;
  border: 1px solid #382718;
  letter-spacing: 1.5px;
}

button {
  padding: 3px;
  font-size: 20px;
  border-radius: 2px;
  min-width: 100px;
  margin: 5px;
  margin-left: 10px; 
  color: #F9D5AC;
  background-color: #382718;
  border: 1px solid #382718;
  letter-spacing: 1.5px;
}

.btn:hover,
button:hover {
  background-color: #BC956B;
  border: solid 1px #C3AE03;
}

.dropdown-item:hover{
  background-color: rgb(255, 229, 202);
}

#dropdownMenuLink{
  background-color: #C3AE03;
  color: #382718;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.dropdown,
.dropdown-menu {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


.navbar {
  background-color: #382718;
  font-family: "Homemade Apple", cursive;
}

a {
  color: #F9D5AC;
  font-weight: bold;
 }
 
a:hover {
  color: #382718;
}

.navbar-brand {
  background-color: #382718;
  font-size: 30px;
  letter-spacing: 2px;
  color:  #F9D5AC;

}
h2 {
  font-weight: bold;
  font-size: 20px;
  color: #58391e;
}

.developer-names {
  font-weight: bold;
  font-size: 30px;
  color: #58391e;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  color: #2B1D16;
}

.clock, .nav-link {
  float: right;
  background:#382718;
  color:  #F9D5AC;
  text-align: right;
  text-shadow: 0 0 3px #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}



.content {
  flex: 1 0 auto;
}

.main-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

#buttons-view, #cities-view, #instructions, #alex-view, #caleb-view, #julie-view, #shay-view {
  min-height: 100px;
  background-color: #a57548;
  opacity: .9;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px;
}

#submit-button {
  margin-left: 10px; 
  color: #F9D5AC;
  background-color: #382718;
  border: 1px solid #382718;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}


/* Shared styling for these divs */
#go-out,
#stay-in {
  background-color: #a57548;
  opacity: .9;
  color: #382718;
  min-height: 900px;
  margin-bottom: 100px;
  padding: 10px;
  padding-left: 15px;
  position: relative;
}


/*image resized*/

.profile-image {
  width:200px;
  height:200px;
}

.restaurants:first-child {
  margin-top: 0px;
}

.restaurants {
  margin-top: 25px;
}

/*I made this a sticky footer...feel free to "unstick"*/
.footer {
  flex-shrink: 0;
  text-align: center;
  background:#382718;
  height: 45px;
  line-height: 45px;
  position: fixed;   
  bottom: 0;          	
  left: 0;            
  width: 100%;
  color: #F9D5AC;
}


@media screen and (max-width:640px) {
.navbar-brand {
  font-size: 20px;
  letter-spacing: 1px;
}
}